    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('render_home') }}" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="{{ url_for('render_artist_list') }}" class="nav-link px-2">Artists</a></li>
            <li><a href="{{ url_for('render_guest_list') }}" class="nav-link px-2">Guestlist</a></li>
            <li><a href="{{ url_for('render_press_list') }}" class="nav-link px-2">Press</a></li>
            <li><a href="{{ url_for('render_help') }}" class="nav-link px-2">Help</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <a href="{{ url_for('login')}}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <button type="button" class="btn btn-primary">Sign-up</button>
          </div>
        </header>
      </div>