{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        <h1>Artist list</h1>
        <table data-toggle="table" data-search="true" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Related act</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for a in ticket_holders %}
                <tr>
                    <td><a href="{{ url_for('render_artist_list') }}{{ a['ticket_holder_id'] }}">{{ a['ticket_holder_name'] }}</a></td>
                    <td>{{ a['related_act'] }}</td>
                    <td><i class="bi-check-square-fill" style="color:green"></i> <i class="bi-x-square-fill icon-danger" style="color:crimson"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}