{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        {% for t in artist_tickets %}
        {{ t['ticket_type_name'] }}
        {%endfor%}
        <h1>{{ artist['ticket_holder_name'] }} details</h1>
        <hr />
        <h2>Tickets</h2>
        <table data-toggle="table" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket type</th>
                    <th>Status</th>
                    <th>Check in</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in artist_tickets %}
                <tr>
                    <td> {{ticket['ticket_type_name']}} </td>
                    <td> llll </td>
                    <td><button type="button" class="btn btn-primary btn-sm">Check In</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-5">
        <h2>Guests</h2>
        <table data-toggle="table" data-search="true" class="table table-striped">
            <thead>
                <tr>
                    <th>Guest</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for guest in artist_guests %}
                <tr>
                    <td><a href="{{ url_for('render_guest_list') }}{{ guest['ticket_holder_guest_id'] }}">{{ guest['ticket_holder_guest_name'] }}</a></td>
                    <td><i class="bi-x-square-fill icon-danger" style="color:crimson"></i> Not checked in</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}