{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        <h1>{{guest['ticket_holder_guest_name']}} details</h1>
        <h2>This person is a guest of: <a href="{{ url_for('render_artist_list') }}{{ related_artist['id'] }}"> {{ related_artist['ticket_holder_name'] }} </a></h2>
        <hr />
        <h2>Tickets</h2>
        <table data-toggle="table" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket type</th>
                    <th>Status</th>
                    <th>Check In</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Artistband Onsdag</td>
                    <td>No</td>
                    <td><button type="button" class="btn btn-primary btn-sm">Check In</button></td>
                </tr>
                <tr>
                    <td>Dagsbiljett Torsdag</td>
                    <td>No</td>
                    <td><button type="button" class="btn btn-primary btn-sm">Check In</button></td>
                </tr>
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}