{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        <h1>{{guest['ticket_holder_guest_name']}} details</h1>
        <hr />
        <h2>This person is a guest of: <a href="{{ url_for('render_artist_list') }}{{ guest['guest_to_artist_id'] }}"> {{ guest['ticket_holder_name'] }} </a></h2>
        <br />
        <h2>Tickets</h2>
        <table data-toggle="table" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket type</th>
                    <th>Status</th>
                    <th>Check In</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in guest_tickets %}
                <tr>
                    <td> {{ ticket['ticket_type_name'] }} </td>
                    <td>  
                        {% if ticket['used'] == True %} <i class="bi-check-square-fill" style="color:green"></i> Checked in
                        {% else %} <i class="bi-x-square-fill icon-danger" style="color:crimson"></i> Not checked in
                        {% endif %}
                    </td>
                    <td><a class="btn btn-primary btn-sm" href="/guestlist/{{ guest['ticket_holder_guest_id'] }}/use_ticket/{{ ticket['ticket_id'] }}">Check In</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}