{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        <h1>Guest list</h1>
        <table data-toggle="table" data-search="true" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Guest to</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for guest in guest_list %}
                <tr>
                    <td><a href="{{ url_for('render_guest_list') }}{{ guest['id'] }}">{{ guest['ticket_holder_guest_name'] }}</a></td>
                    <td> {% for artist in artist_list %} {% if artist['id'] == guest['guest_to_artist_id'] %} {{artist['ticket_holder_name']}}  {% endif %} {% endfor %} </td>
                    <td><i class="bi-check-square-fill" style="color:green"></i> <i class="bi-x-square-fill icon-danger" style="color:crimson"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}