{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        <h1>Guest list</h1>
        <table data-toggle="table" data-search="true" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Guest to</th>
                </tr>
            </thead>
            <tbody>
            {% for guest in ticket_holder_guests %}
                <tr>
                    <td><a href="{{ url_for('render_guest_list') }}{{ guest['ticket_holder_guest_id'] }}">{{ guest['ticket_holder_guest_name'] }}</a></td>
                    <td> {% for artist in ticket_holders %} {% if artist['ticket_holder_id'] == guest['guest_to_artist_id'] %} {{artist['ticket_holder_name']}}  {% endif %} {% endfor %} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}