{% include 'components/start.html' %}

<body>
{% include 'components/navbar.html' %}
    <div class="p-5">
        <h1>Stockholm Pride Artist & Guest list management</h1>
        <p>Welcome to the system where we manage tickets for our artists and their guests</p><br />

        <h3>HELP! The system isn't working as it should!</h3>
        <p>First of all, check with your shift lead or team lead if they know how to solve the problem.<br />
        If they can't help you then please don't hesitate to contact either Peter or Gabby in the stage team. (your shift or team lead should have the number)</p><br />
        <br />
        <hr />
        <h2>FAQ</h2>
        <table data-toggle="table" data-search="true" class="table table-striped">
            <thead>
                <th>Question</th>
                <th>Answer</th>
            </thead>
            <tbody>
                <tr>
                    <td>I accidently checked in a ticket and need it reversed, what do I do?</td>
                    <td>Contact Gabby or Peter who can reverse it. They need to know who it was and which ticket.</td>
                </tr>
                <tr>
                    <td>I can't find the artist or guest, but they claim they should be in the system</td>
                    <td>The person who sent the names in has to get in touch with their contact at Stockholm Pride to get it sorted out</td>
                </tr>
                <tr>
                    <td>The person claims that they're just added as a +1 on the list but not with their name specified</td>
                    <td><b>At Stockolm Pride we don't do +1 tickets without a name on them.</b> The person in front of you is most likely trying to be sneaky and get a free ticket. Ask them to talk to their contact person who got them added to the list.</td>
                </tr>
            </tbody>
        </table>
    </div>

{% include 'components/end.html' %}